button {
  border: none;
  appearance: none;
  outline: none;
  font: inherit;
  color: inherit;
  transition: color 0.2s;
}

.info-season {
  display: none;
}

.cart-items__row {
  display: flex;
}

.billboard .desc {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.cart-items__left-col {
  width: 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-items__right-col {
  width: 354px;
  flex-shrink: 0;
  margin-left: 100px;
}

.cart-items__remove-all {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #409690;

  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.cart-items__top-row {
  margin-bottom: 35px;
  margin-top: 35px;
  display: flex;
  align-items: center;
}

.cart-items__remove-all:link,
.cart-items__remove-all:visited {
  color: #409690;
}
.cart-items__remove-all:hover {
  color: #379990;
}

.cart-items__remove-all svg {
  fill: currentColor;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.cart-items__list-item {
  border: 1px solid #d7d7d7;
}

.cart-items__list-item:not(:last-child) {
  border-bottom: none;
}

.cart-items__card {
  padding: 30px;
  display: flex;
  align-items: flex-start;
}

.cart-items__card-image {
  flex-shrink: 0;
  margin-right: 30px;
  width: 120px;
}

.cart-items__card-title {
  font-size: 24px;
  line-height: 140%;
  font-family: "Prata", sans-serif;
  width: 400px;
  margin-right: 55px;
}

.cart-items__card-quantity-wrapper {
  margin-right: 70px;
  flex-shrink: 0;
}

.cart-items__card-quantity {
  display: flex;
  border: 1px solid #ececec;

  overflow: hidden;
  border-radius: 4px;
}

.cart-items__card-quantity-btn {
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  position: relative;
  background: #ececec;
  appearance: none;
  border: none;
  padding: 0;
  transition: background-color 0.2s, opacity 0.2s;
}

.cart-items__card-quantity-btn[disabled] svg {
  opacity: 0.3;
}

.cart-items__card-quantity-btn svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  width: 12px;
  height: 12px;
  transition: opacity 0.2s;
}

.cart-items__card-quantity-input {
  width: 38px;
  height: 38px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  flex-shrink: 0;
  background-color: #fff;
  font: inherit;
  color: black;
  padding: 0;
  border: none;
  outline: none;
}

.cart-items__price {
  font-size: 24px;
  line-height: 140%;
  font-family: "Prata", sans-serif;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  flex-shrink: 0;
}

.cart-items__price-delete {
  flex-shrink: 0;
  margin-left: auto;
}

.cart-items__price-delete svg {
  width: 20px;
  height: 20px;
  fill: #3eb1a9;
  display: block;
  transition: fill 0.2s;
}

.cart-items__price-delete:hover svg {
  fill: #379990;
}

.cart-items__price-new {
  /* font-size: 24px;
  line-height: 140%; */
  color: #c62121;
  margin-bottom: 9px;
}

.cart-items__price-old {
  font-size: 16px;
  line-height: 19px;
  color: #b3b3b3;
  /* display: inline-flex; */
  white-space: nowrap;
  position: relative;
}

.cart-items__price-old::after {
  content: "";
  width: 115%;
  height: 1px;
  background-color: #b3b3b3;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(15deg);
}

.cart-items__card-quantity-per-unit {
  font-size: 12px;
  line-height: 14px;
  margin-top: 11px;
}

.cart-items__promo {
  display: flex;
  align-items: center;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  border-radius: 5px;
  padding: 12px 18px;
  margin-bottom: 50px;
  transition: border-color 0.2s;
}

.cart-items__promo:focus-within {
  border-color: #409690;
}

.cart-items__promo-input {
  font: inherit;

  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;

  width: 30%;
  flex-grow: 1;
  padding: 0;
  color: black;
}

.cart-items__promo-input::-webkit-input-placeholder {
  color: #c0c1c1;
}
.cart-items__promo-input:-moz-placeholder {
  color: #c0c1c1;
}
.cart-items__promo-input::-moz-placeholder {
  color: #c0c1c1;
}
.cart-items__promo-input::-ms-input-placeholder {
  color: #c0c1c1;
}

.cart-items__promo-button {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-left: 10px;
  border: none;
  background: transparent;
  outline: none;
  appearance: none;
  position: relative;
}

.cart-items__promo-button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #409690;
}

.cart-items__checkout-form {
  padding-top: 40px;
}

.cart-items__total {
  margin-bottom: 25px;
}

.cart-items__total table,
.cart-items__total thead,
.cart-items__total tbody,
.cart-items__total tr,
.cart-items__total th,
.cart-items__total td {
  display: block;
}

.cart-items__total tr {
  display: flex;
  align-items: baseline;
  margin-bottom: 17px;
}

.cart-items__total tr:last-child {
  margin-bottom: 0;
}

.cart-items__total th {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  text-align: left;
  display: flex;
  align-items: baseline;
  color: #c0c1c1;
  flex-grow: 1;
}

.cart-items__total th::after {
  content: "";
  width: 1px;
  flex-grow: 1;
  margin: 0 10px;
  border-bottom: 1px dashed #e1e1e1;
}

.cart-items__total td {
  font-size: 20px;
  line-height: 140%;
  font-family: "Prata", sans-serif;
  text-align: right;
}

.cart-items__submit {
  outline: none;
  border: none;
  appearance: none;
  display: block;
  text-align: center;
  display: block;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  background: #3eb1a9;
  border-radius: 4px;
  transition: color 0.2s, background-color 0.2s;
  color: white;
  width: 100%;
}

.cart-items__submit:hover {
  background: #379990;
}

.checkout {
  padding-top: 55px;
}

.checkout__row {
  display: flex;
}

.checkout__left-col {
  width: 50%;
  flex-grow: 1;
}

.checkout__right-col {
  width: 466px;
  flex-shrink: 0;
  margin-left: 32px;
}

.checkout__top-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 25px;
}

.checkout__secondary-heading {
  font-size: 27px;
  line-height: 140%;
  font-family: "Prata", sans-serif;
  margin-bottom: 25px;
}

.checkout__top-row .checkout__secondary-heading {
  margin: 0;
}

.checkout__change-btn {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #409690;
  margin-left: 20px;
  text-decoration: none !important;
}

.checkout__change-btn:link,
.checkout__change-btn:visited {
  color: #409690;
}
.checkout__change-btn:hover {
  color: #379990;
}

.checkout__change-btn svg {
  width: 17px;
  height: 17px;
  fill: currentColor;
  flex-shrink: 0;
  margin-right: 16px;
}

.checkout__list {
  border: 1px solid #d7d7d7;
  padding: 10px 40px;
}

.checkout__list-item {
  border-bottom: 1px solid #d7d7d7;
}

.checkout__list-item:last-child {
  border: none;
}

.checkout__card {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.checkout__card-image-container {
  width: 116px;
  height: 64px;
  flex-shrink: 0;
  margin-right: 20px;
  position: relative;
}

.checkout__card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.checkout__card-content {
  width: 50%;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.checkout__card-main-info {
  width: 50%;
  flex-grow: 1;
}

.checkout__card-title {
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 6px;
}

.checkout__card-quantity {
  font-size: 18px;
  line-height: 140%;
  color: #c0c1c1;
}

.checkout__card-price {
  text-align: right;
  white-space: nowrap;
  flex-shrink: 0;
  margin-left: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}

.checkout__summary {
  border: 1px solid #dfdfdf;
  padding: 52px;
  margin-top: 62px;
}

.checkout__summary-table th,
.checkout__summary-table td,
.checkout__summary-table table,
.checkout__summary-table thead,
.checkout__summary-table tbody,
.checkout__summary-table tr {
  display: block;
}

.checkout__summary-table {
  margin-bottom: 55px;
}
.checkout__summary-table:last-child {
  margin-bottom: 0;
}

.checkout__summary-table tr {
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
}

.checkout__summary-table tr:last-child {
  margin-bottom: 0;
}

.checkout__summary-table th {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #c0c1c1;
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}

.checkout__summary-table th::after {
  content: "";
  width: 1px;
  border-bottom: 1px dashed #e1e1e1;
  flex-grow: 1;
  margin: 0 3px;
}

.checkout__summary-table td {
  text-align: right;
  font-size: 20px;
  line-height: 140%;
}

.checkout__summary-table td.green {
  color: #3eb1a9;
}
.checkout__summary-table td.total {
  font-size: 24px;
  line-height: 140%;
  font-family: "Prata", sans-serif;
}

.checkout__your-goods {
  margin-bottom: 60px;
}

.checkout__delivery {
  margin-bottom: 60px;
}

.checkout__delivery-fields {
  display: flex;
  margin: -12px -25px;
  flex-wrap: wrap;
}

.checkout__delivery-field {
  width: 25%;
  padding: 12px 25px;
  display: flex;
  align-items: center;
}

.checkout__delivery-field--long {
  width: 100%;
}

.checkout__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #808080;
  margin-right: 20px;
  flex-shrink: 0;
  white-space: nowrap;
}

.checkout__input {
  width: 30%;
  flex-grow: 1;
  background: #ebf4f4;
  border-radius: 5px;
  height: 52px;
  font-size: 16px;
  padding: 0 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.checkout__input--search {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.84 10.53h-.71l-.27-.23a5.96 5.96 0 001.39-3.82 5.82 5.82 0 10-11.62 0 5.83 5.83 0 009.64 4.45l.27.23v.72l4.49 4.5 1.35-1.35-4.54-4.5zm-5.38 0a4.03 4.03 0 01-4.04-4.05c0-2.26 1.8-4.05 4.04-4.05s4.04 1.8 4.04 4.05c0 2.24-1.8 4.04-4.04 4.04z' fill='%23409690'/%3E%3C/svg%3E");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: right 22px center;
}

textarea.checkout__input {
  resize: none;
  width: 100%;
  display: block;

  box-shadow: none;
  appearance: none;
  height: 90px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.checkout__payment {
  margin-bottom: 60px;
}

.checkout__payment-fields {
  max-width: 600px;
}

.checkout__payment-field {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.checkout__payment-field:last-child {
  margin-bottom: 0;
}

.checkout__payment-field-left-col {
  width: 200px;
  flex-shrink: 0;
  padding-right: 20px;
}

.checkout__payment-field-left-col--flex-start {
  align-self: flex-start;
  padding-top: 12px;
}

.checkout__payment-field-right-col {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.checkout__policy-checkbox {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  user-select: none;
  cursor: pointer;
}

.checkout__policy-checkbox-input {
  display: none;
}

.checkout__policy-checkbox-mark {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d4d4d4;
  transition: border-color 0.2s, background-color 0.2s;
  margin-top: 1px;
}

.checkout__policy-checkbox-mark::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3eb1a9;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s;
}

.checkout__policy-checkbox-input:checked ~ .checkout__policy-checkbox-mark {
  border-color: #3eb1a9;
}

.checkout__policy-checkbox-input:checked
  ~ .checkout__policy-checkbox-mark::before {
  opacity: 1;
  transform: scale(1);
}

.checkout__policy-checkbox-text {
  width: 50%;
  flex-grow: 1;
  font-size: 14px;
  line-height: 18px;
  color: #808080;
}

.checkout__policy-checkbox-text a {
  color: #3eb1a9;
}

.checkout__policy-checkbox-text a:link,
.checkout__policy-checkbox-text a:visited {
  color: #3eb1a9;
}

.checkout__shipping {
  margin-bottom: 60px;
}

.checkout__shipping-choices {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}

.checkout__shipping-choice {
  width: 33.33%;
  padding: 16px;

  display: flex;
  flex-direction: column;
}

.checkout__shipping-checkbox {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.checkout__shipping-checkbox-input {
  display: none;
}

.checkout__shipping-checkbox-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfdf;
  transition: border-color 0.2s;
  padding: 25px;
}

.checkout__shipping-checkbox-top-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkout__shipping-checkbox-top-row:last-child {
  margin-bottom: 0;
}

.checkout__shipping-checkbox-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.checkout__shipping-checkbox-text strong {
  font-weight: 500;
}

.checkout__shipping-checkbox-logo {
  width: 70px;
  flex-shrink: 0;
  margin-left: 15px;
  height: auto;
  object-fit: contain;
  margin-top: 5px;
}

.checkout__shipping-checkbox-bottom-row {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.checkout__shipping-checkbox-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}

.checkout__shipping-checkbox-ok {
  margin-left: auto;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  opacity: 0;
  transition: opacity 0.3s;
}

.checkout__shipping-checkbox-input:checked
  ~ .checkout__shipping-checkbox-content {
  border-color: #3eb1a9;
}

.checkout__shipping-checkbox-input:checked
  ~ .checkout__shipping-checkbox-content
  .checkout__shipping-checkbox-ok {
  opacity: 1;
}

.checkout__submit {
  padding: 17px 100px;

  margin-top: 60px;
  flex-shrink: 0;
  background: #3eb1a9;
  border-radius: 4px;
  transition: background-color 0.2s;
  appearance: none;
  border: none;
  font: inherit;
  font-size: 16px;
  line-height: 160%;

  text-transform: uppercase;
  text-align: center;
  color: white;
  outline: none;
}

.checkout__submit:hover {
  background: #379990;
}

.new-items__list {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfdf;
  margin-top: 45px;
  padding: 0 25px;
}

.new-items__list-item {
  border-bottom: 1px solid #dfdfdf;
}

.new-items__list-item:last-child {
  border: none;
}

.new-items__card {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.new-items__card-title {
  font-weight: 700;
  font-size: 16px;
  width: 30%;
  flex-grow: 1;
  padding-right: 10px;
}

.new-items__card-price {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  margin-right: 25px;
  white-space: nowrap;
}

.new-items__card-old-price {
  font-weight: 400;
  color: #c62121;
  font-size: 16px;
  position: relative;
  margin-left: 15px;
}

.new-items__card-old-price::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1px;
  width: 120%;
  background-color: #c62121;
  transform: translate(-50%, -50%) rotate(15deg);
}

.new-items__card-link {
  background-color: #3eb1a9;
  color: #fff;
  font-weight: 600;
  padding: 15px 28px;
  display: inline-flex;
  flex-shrink: 0;
  white-space: nowrap;
  border-radius: 2px;
  font-size: 16px;
  transition: color 0.2s, background-color 0.2s;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

.new-items__card-link:link,
.new-items__card-link:visited {
  color: white;
}
.new-items__card-link:hover {
  background-color: #379990;
}

.new-logo {
  flex-shrink: 0;
  display: block;
  width: 100%;
  max-width: 810px;
  padding: 0 16px;
  float: left;
}

.new-logo__image {
  display: block;
  width: 100%;
}

.sponsors .sponsor .wrapper {
  display: block;
}

.item-info-block {
  margin-bottom: 40px;
}

.item-info-video {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 15px;
}

.item-info-video::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.item-info-video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.event .content {
  max-width: 900px;
}

.slick-track {
  display: flex;
}

.slick-slide {
  height: auto;
}

.slick-initialized .slick-slide.ticket {
  display: flex;
  flex-direction: column;
}

.tickets .desc {
  flex-grow: 1;
}

.tickets .slick-next,
.tickets .slick-prev {
  top: 50%;
  margin-top: 0;
  transform: translateY(-50%);
}

.tickets .slick-prev {
  transform: translateY(-50%) scaleX(-1);
}

.billboard .wrap-info .wrap-control .button.disabled {
  background-color: rgb(219, 219, 219);
  color: white;
  cursor: default;
  pointer-events: none;
  user-select: none;
}

.my-translation {
}

.my-translation__back-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #3eb1a9;
  margin-bottom: 30px;
  text-decoration: none !important;
}

.my-translation__back-link svg {
  width: 8px;
  height: 12px;
  flex-shrink: 0;
  margin-right: 10px;
  fill: currentColor;
}

.my-translation__back-link:link,
.my-translation__back-link:visited {
  color: #3eb1a9;
}

.my-translation__heading {
  font-size: 34px;
  line-height: 140%;
  font-family: "Prata", serif;
  margin-bottom: 55px;
}

.my-translation__info-row {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.my-translation__info {
  max-width: 1000px;
  width: 100%;
}

.my-translation__info-title {
  font-size: 22px;
  line-height: 34px;
  font-family: "Prata", serif;
  margin-bottom: 10px;
}

.my-translation__info-author {
  font-size: 15px;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
}

.my-translation__info-author em {
  font-style: normal;
  color: #808080;
}

.my-translation__date {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  color: #409690;
}

.my-translation__day-month {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 30px;
  border-right: 1px solid #ececec;
  padding-left: 30px;
  font-family: "Prata", serif;
  align-items: center;
}

.my-translation__day {
  font-size: 50px;
  line-height: 1.2;
}

.my-translation__month {
  font-size: 24px;
  line-height: 1.2;
}

.my-translation__time {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.my-translation__time-digits {
  font-size: 50px;
  line-height: 1.2;
  font-family: "Prata", sans-serif;
}

.my-translation__time-day-of-week {
  font-size: 14px;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
  margin-top: 4px;
}

.my-translation__image-container {
  position: relative;
  display: block;
}

.my-translation__image-container::after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
  width: 100%;
}

.my-translation__image-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 30;
}

.my-translation__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.my-translation__countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-translation__countdown-text {
  font-size: 15px;
  line-height: 122.3%;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
}

.my-translation__countdown-left {
  display: flex;
  align-items: baseline;
}

.my-translation__countdown-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70px;
}

.my-translation__countdown-element-value {
  font-size: 54px;
  line-height: 122.3%;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-family: "PT Serif", "Prata", serif;
}

.my-translation__countdown-element-key {
  font-size: 15px;
  line-height: 122.3%;
  font-family: "Arial", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

.my-translation__countdown-divider {
  display: inline-flex;
  margin: 0 3px;
  color: white;
  font-size: 54px;
  line-height: 122.3%;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.my-translation__countdown-element-value--pale,
.my-translation__countdown-divider--pale {
  color: rgba(255, 255, 255, 0.6);
}

.my-translation__remark {
  font-size: 16px;
  line-height: 160%;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
}

.recover {
  padding-top: 30px;
  padding-bottom: 70px;
  position: relative;
}

.recover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  margin-top: -60px;
  background-color: #ececec;
}

.cart-items__links {
  display: flex;
  align-items: center;
}

.cart-items__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 25px;
  position: relative;
  display: inline-flex;
  z-index: 1;
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

.cart-items__link:link,
.cart-items__link:visited {
  color: black;
}

.cart-items__link:last-child {
  margin-right: 0;
}

.cart-items__link:hover,
.cart-items__link.active {
  color: #3eb1a9;
}

.cart-items__link.active::before {
  content: "";
  background: #34908d;
  opacity: 0.1;
  position: absolute;
  top: 100%;
  left: -7px;
  right: -7px;
  height: 14px;
  margin-top: -10px;
  z-index: -1;
}

.translations {
  padding-top: 45px;
  padding-bottom: 100px;
  border-top: 1px solid #ececec;
}

.translations__heading {
  padding: 0;
  margin: 0;
  font-size: 34px;
  line-height: 140%;
  font-weight: 400;
  font-family: "Prata", sans-serif;
  margin-bottom: 25px;
}

.translations__table {
  width: 100%;
  border-collapse: collapse;
}

.translations__table th {
  font-size: 16px;
  line-height: 150%;
  color: #d7d7d7;
 
  text-align: left;
  font-weight: 400;
  padding-bottom: 20px;
}

.translations__table th,
.translations__table td {
  vertical-align: top;
  text-align: left;
}

.translations__table th:first-child,
.translations__table td:first-child {
  padding-left: 30px;
}
.translations__table th:last-child,
.translations__table td:last-child {
  padding-right: 30px;
}

.translations__table tbody tr:first-child td {
  border-top: 1px solid #d7d7d7;
}

.translations__table td {
  border-bottom: 1px solid #d7d7d7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.translations__table td:first-child {
  border-left: 1px solid #d7d7d7;
}
.translations__table td:last-child {
  border-right: 1px solid #d7d7d7;
}

.translations__main-content {
  display: flex;
  max-width: 680px;
  margin-right: 30px;
}

.translations__image-container {
  flex-shrink: 0;
  width: 150px;
  height: 100px;
  position: relative;
  margin-right: 30px;
}

.translations__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.translations__title {
  font-size: 22px;
  line-height: 34px;
  width: 50%;
  flex-grow: 1;
  font-family: "Prata", sans-serif;
}

.translations__status {
  padding: 6px 14px;
  font-size: 16px;
  line-height: 150%;
  background: #6ac884;
  flex-shrink: 0;
  display: inline-flex;
  color: white;
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: 30px;
}

.translations__status--pending {
  background: #EDAB5A;
}

.translations__date {
  font-size: 20px;
  line-height: 150%;
  margin-right: 30px;
  flex-shrink: 0;
}

.translations__link {
  background: #3eb1a9;
  border-radius: 4px;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  min-width: 256px;
  color: white;
  text-decoration: none;
  transition: color .2s, background-color .2s;
  
}

.translations__link.disabled {
  pointer-events: none;
  background: #D7D7D7;
  color: #717171;
}

.translations__link.disabled:link,
.translations__link.disabled:visited {
  color: #717171;
}

.translations__link:hover {
  background-color: #379990;
}

.translations__link:link,
.translations__link:visited {
  color: white;
}

@media (max-width: 1024px) {
  .recover::before {
    margin-top: -30px;
  }
}
.recover__heading {
  font-size: 34px;
  line-height: 1.2;
  font-family: "Prata", sans-serif;
  margin-bottom: 10px;
}

.recover__back-link {
  padding: 16px 26px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 160%;
  background: #3eb1a9;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.2s;
}

.recover__back-link:hover {
  background-color: #379990;
}

.recover__heading-text {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}

.recover__form {
  display: flex;
  align-items: center;
}

.recover__form-input {
  width: 400px;
  flex-shrink: 0;
  margin-right: 20px;
  height: 52px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border-radius: 5px;
}

.recover__form-submit {
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  text-align: center;
  padding: 13px 25px;
  background: #3eb1a9;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: white;
}
.recover__form-submit:hover {
  background-color: #379990;
}

.billboard .date,
.billboard .desc,
.billboard .image,
.billboard .info,
.billboard .main-slider-dots .dot .wrap-dot .date,
.billboard .main-slider-dots .dot .wrap-dot .desc,
.billboard .main-slider-dots .dot .wrap-dot .image,
.billboard .main-slider-dots .dot .wrap-dot .info,
.billboard .main-slider .wrap-slide .date,
.billboard .main-slider .wrap-slide .desc,
.billboard .main-slider .wrap-slide .image,
.billboard .main-slider .wrap-slide .info,
.main-slider-dots .dot .wrap-dot .billboard .date,
.main-slider-dots .dot .wrap-dot .billboard .desc,
.main-slider-dots .dot .wrap-dot .billboard .image,
.main-slider-dots .dot .wrap-dot .billboard .info,
.main-slider .wrap-slide .billboard .date,
.main-slider .wrap-slide .billboard .desc,
.main-slider .wrap-slide .billboard .image,
.main-slider .wrap-slide .billboard .info {
  padding: 10px 0;
}

.billboard .wrap-info .title .place {
  margin-top: 0px;
  margin-bottom: 0;
}

.tickets .wrap-date .month {
  font-size: 16px;
}

@media screen and (min-width: 1025px) {
  .event .wrap-event {
    padding-left: 45px;
  }

  .event .back-link {
    margin-left: 45px;
  }

  .event {
    padding-top: 45px;
  }
}

@media screen and (max-width: 1440px) {
  .cart-items__left-col {
    width: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .cart-items__right-col {
    width: 300px;
    flex-shrink: 0;
    margin-left: 40px;
  }

  .checkout__right-col {
    width: 400px;
    margin-left: 40px;
  }

  .checkout__summary {
    padding: 25px;
  }

  .checkout__shipping-choice {
    width: 50%;
  }
}

@media screen and (max-width: 1400px) {
  .cart-items__card-title {
    width: 280px;
  }
}

@media (max-width: 1324px) {
  .new-logo {
    max-width: 620px;
  }
}

@media screen and (max-width: 1270px) {
  .cart-items__card-title {
    width: 250px;
  }

  .cart-items__card-title {
    font-size: 22px;
  }

  .cart-items__card-image {
    width: 80px;
  }

  .cart-items__card-title {
    margin-right: 50px;
  }

  .cart-items__card-quantity-wrapper {
    margin-right: 50px;
  }

  .checkout__delivery-field {
    width: 50%;
  }

  .checkout__delivery-field--long {
    width: 100%;
  }

  .checkout__right-col {
    width: 350px;
  }

  .translations__title {
    font-size: 18px;
    line-height: 1.3;
  }

  .translations__link {
    padding: 10px;
    min-width: 200px;
    font-size: 14px;
  }

  .translations__date {
    font-size: 16px;
    line-height: 1.3;
  }

  .translations__status {
    padding: 4px 8px;
    font-size: 14px;
  }

  .translations__table th {
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 12px;
  }

  .translations__image-container {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1170px) {

 
  .cart-items__card-image {
    margin-right: 20px;
  }

  .cart-items__card-title {
    margin-right: 30px;
    width: 200px;
  }

  .cart-items__card-title {
    font-size: 18px;
  }

  .cart-items__price {
    font-size: 20px;
  }

  .cart-items__price-new {
    margin-bottom: 5px;
  }

  .cart-items__card {
    padding: 20px;
  }

  .checkout__shipping-checkbox-content {
    padding: 20px;
  }

  .checkout__shipping-checkbox-text {
    font-size: 16px;
    line-height: 1.2;
  }

  .checkout__card-title {
    font-size: 16px;
    line-height: 1.2;
  }

  .checkout__card-quantity {
    font-size: 16px;
    line-height: 1.2;
  }

  .checkout__card-price {
    font-size: 16px;
    line-height: 1.2;
  }
  .checkout__card-image-container {
    width: 90px;
    height: 50px;
  }

  .checkout__summary-table td {
    font-size: 16px;
    line-height: 1.2;
  }

  .checkout__summary-table td.total {
    font-size: 18px;
    line-height: 1.2;
  }

  .checkout__summary-table {
    margin-bottom: 50px;
  }
}



@media screen and (max-width: 1080px) {
  .cart-items__remove-all {
    font-size: 14px;
    line-height: 1.2;
  }

  .cart-items__remove-all svg {
    width: 16px;
    height: 16px;
  }

  .cart-items__price-delete svg {
    width: 18px;
    height: 18px;
  }

  .cart-items__submit {
    padding: 12px 24px;
  }

  .cart-items__card-title {
    width: 180px;
  }

  .cart-items__card-quantity-wrapper {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .wrap-header-menu {
    display: flex;
    flex-direction: column;
  }

  .billboard .item {
    display: flex;
    flex-direction: column;
  }

  .billboard .wrap-item {
    flex-grow: 1;
  }

  .billboard .wrap-info .buttons {
    margin-top: auto;
  }

  .billboard .wrap-info .wrap-control .place {
    display: none;
  }

  .header-menu .wrap-header-menu > ul {
    margin-left: 0;
  }

  .header-menu .float-left .button {
    margin-bottom: 25px;
  }

  .header-menu .wrap-header-menu > ul {
    display: flex;
    flex-direction: column;
  }

  .checkout__secondary-heading {
    font-size: 20px;
    line-height: 1.2;
  }

  .checkout__change-btn {
    font-size: 14px;
    line-height: 1.2;
  }

  .checkout__change-btn svg {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }

  .checkout__label {
    font-size: 14px;
    line-height: 1.2;
  }

  .checkout__shipping-checkbox-price {
    font-size: 20px;
    line-height: 1.2;
  }

  .checkout__shipping-choices {
    margin: -10px;
  }

  .checkout__shipping-choice {
    padding: 10px;
  }

  .checkout__summary {
    margin-top: 49px;
  }

  .checkout__submit {
    padding: 12px 50px;
    margin-top: 40px;
  }

  .checkout__list {
    padding-left: 25px;
    padding-right: 25px;
  }

  .checkout__input {
    height: 45px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 1023px) {
  .cart-items__card {
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  .cart-items__card-title {
    width: 60%;
    flex-grow: 1;
  }

  .cart-items__card-image {
    width: 100px;
    margin-bottom: 30px;
  }

  .cart-items__card-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .cart-items__price-delete {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .translations__table {
    display: block;
  }

  .translations__table thead,
  .translations__table tbody,
  .translations__table th,
  .translations__table td,
  .translations__table tr {
    display: block;
    border: none !important;
    padding: 0 !important;
  }

  .translations__table thead {
    display: none;
  }

  .translations__table tr {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 30px;
    border: 1px solid #d7d7d7 !important;
    border-bottom: none !important;
    padding: 20px !important; 
    
  }

  .translations__table tr:last-child {
    border-bottom: 1px solid #d7d7d7 !important;
  }

  .translations__main-content {
    max-width: none;
    width: 100%;
  }

  .translations__table tbody td:first-child {
    grid-column: 1 / -1;
  }

  .translations__title {
    font-size: 20px;
  }

  .translations__image-container {
    margin-right: 25px;
  }
}

@media screen and (max-width: 980px) {
  .checkout__row {
    display: flex;
    flex-direction: column;
  }

  .checkout__left-col {
    width: 100%;
    flex-grow: 0;
    margin: 0;
    display: contents;
  }

  .checkout__right-col {
    width: 100%;
    flex-shrink: 0;
    order: -1;
    display: contents;
  }
}

@media screen and (max-width: 860px) {
  .cart-items__right-col {
    width: 280px;
    margin-left: 30px;
  }

  .cart-items__promo {
    margin-bottom: 30px;
  }

  .cart-items__top-row {
    flex-direction: column;
    align-items: initial;
    margin-bottom: 20px;
  }

  .cart-items__remove-all {
    margin-left: 0;
    margin-top: 25px;
  }
}

@media screen and (max-width: 775px) {
  .cart-items__card-title {
    width: 40%;
    flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .cart-items__row {
    flex-direction: column;
  }

  .cart-items__left-col {
    width: 100%;
    flex-grow: 0;
  }

  .cart-items__right-col {
    width: 100%;
    margin: 0;
    flex-shrink: 1;
  }

  .new-items__card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    align-items: baseline;
    justify-items: flex-start;
  }

  .new-items__list {
    padding: 0 15px;
  }

  .new-items__card-price {
    margin-right: 0;
    font-size: 18px;
  }

  .new-items__card-old-price {
    font-size: 14px;
    margin-left: 10px;
  }

  .new-items__card-link {
    margin: 0;
    font-size: 14px;
    padding: 11px 20px;
    align-self: flex-end;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .new-items__card-title {
    font-size: 16px;
  }

  .my-translation__heading {
    font-size: 24px;
    line-height: 140%;

    margin-bottom: 20px;
  }

  .my-translation__info {
    margin-bottom: 20px;
  }

  .my-translation__info-row {
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin-bottom: 20px;
  }

  .my-translation__info-title {
    font-size: 18px;
    line-height: 1.3;
  }

  .my-translation__date {
    margin-left: 0;
  }

  .my-translation__date {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .my-translation__day-month {
    padding: 0;
  }

  .my-translation__time {
    padding: 0;
  }

  .my-translation__day {
    font-size: 42px;
  }

  .my-translation__time-digits {
    font-size: 42px;
  }

  .my-translation__month {
    font-size: 14px;
  }

  .my-translation__time-day-of-week {
    margin-top: 0;
  }
  .my-translation__countdown-element {
    width: 50px;
  }

  .my-translation__countdown-element-value {
    font-size: 40px;
    line-height: 122.3%;
    letter-spacing: 0.04em;
  }

  .my-translation__countdown-element-key {
    font-size: 12px;
    line-height: 122.3%;
  }

  .my-translation__countdown-divider {
    font-size: 40px;
    line-height: 122.3%;
    letter-spacing: 0.04em;
  }

  .my-translation__countdown-text {
    font-size: 12px;
  }

  .translations__table tr {
    padding: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
  }

  .translations__main-content {
    flex-direction: column;
  }

  .translations__image-container {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    margin-right: 0;
  }

  .translations__image-container::after {
    content: '';
    padding-bottom: 65%;
    display: block;
    width: 100%;
  }

  .translations__title {
    font-size: 18px;
    line-height: 1.25;
    width: 100%;
    flex-grow: 0;
  }

  .translations__table td:last-child {
    grid-column: 1 / -1;
  }

  .translations__heading {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .translations {
    padding-bottom: 60px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .header-menu .wrap-header-menu > ul > li.dropdown:before {
    top: 19px;
  }

  .header-menu .float-left .button {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .header-menu .wrap-header-menu > ul li ul li a,
  .header-menu .wrap-header-menu > ul li ul li span,
  .header-menu .wrap-header-menu > ul li ul ul li a,
  .header-menu .wrap-header-menu > ul li ul ul li span {
    padding: 7px;
  }

  .header-menu .wrap-header-menu > ul > li > ul > li.dropdown:before {
    top: 3px;
  }

  .header-menu .wrap-header-menu > ul > li > ul {
    padding-bottom: 30px;
  }
  .wrap-header-menu .button {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .header-menu .float-left {
    margin-bottom: 25px;
  }

  .header-menu .wrap-header-menu > ul {
    padding-top: 0;
  }

  .header-menu .wrap-header-menu > ul li a,
  .header-menu .wrap-header-menu > ul li span {
    font-weight: 500;
    font-size: 16px;
    line-height: 240%;
  }

  .recover__form {
    flex-direction: column;
    align-items: initial;
  }

  .recover__form-input {
    margin-right: 0;
    width: 100%;
    margin-bottom: 15px;
    height: 42px;
  }

  .recover__heading {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .recover__heading-text {
    margin-bottom: 20px;
  }

  .recover__form-submit {
    font-size: 14px;
    padding: 10px 14px;
  }
  .checkout__list {
    padding: 10px 20px;
  }

  .checkout__card-image-container {
    width: 60px;
    height: 30px;
    margin-right: 15px;
  }

  .checkout__card-title {
    font-size: 14px;
    line-height: 1.2;
  }

  .checkout__card-quantity {
    font-size: 14px;
    line-height: 1.2;
  }
  .checkout__card-price {
    font-size: 14px;
    line-height: 1.2;
  }

  .checkout__your-goods {
    margin-bottom: 30px;
  }

  .checkout__summary {
    margin-top: 30px;
  }

  .checkout__delivery-fields {
    margin: -8px;
  }

  .checkout__delivery-field {
    padding: 8px;
  }

  .checkout__payment-field-left-col {
    width: 150px;
  }

  .checkout__shipping-checkbox-logo {
    width: 50px;
  }

  .checkout__shipping-checkbox-price {
    font-size: 18px;
  }

  .checkout__delivery {
    margin-bottom: 30px;
  }

  .checkout__payment {
    margin-bottom: 30px;
  }

  .checkout__shipping {
    margin-bottom: 30px;
  }

  .checkout__submit {
    margin-top: 30px;
  }
}

@media screen and (max-width: 400px) {
  .cart-items__card-title {
    font-size: 18px;
  }

  .cart-items__card-image {
    width: 85px;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  .cart-items__card-title {
    margin-bottom: 20px;
  }

  .checkout__list {
    padding: 0;
  }

  .checkout__card {
    padding-left: 16px;
    padding-right: 16px;
  }

  .checkout__top-row {
    margin-bottom: 20px;
  }

  .checkout__summary {
    padding: 16px;
  }

  .checkout__summary-table tr {
    margin-bottom: 18px;
  }

  .checkout__summary-table {
    margin-bottom: 30px;
  }

  .checkout__delivery-field {
    /* width: 100%; */
    flex-direction: column;
    align-items: initial;
  }

  .checkout__label {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .checkout__input {
    width: 100%;
    flex-grow: 0;
  }

  .checkout__payment-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .checkout__payment-field-left-col {
    margin: 0;
    width: 100%;
  }

  .checkout__payment-field-right-col {
    width: 100%;
  }

  .checkout__shipping-choice {
    width: 100%;
  }

  .checkout__submit {
    width: 100%;
    margin-top: 20px;
  }

  .checkout__shipping-checkbox-top-row {
    margin-bottom: 35px;
  }

  .checkout__shipping-checkbox-logo {
    width: 60px;
    margin-left: 25px;
  }

  .checkout {
    padding-top: 40px;
  }

  .checkout__payment-field-left-col--flex-start {
    padding-top: 0;
    align-self: initial;
  }

  .checkout__input--search {
    background-position: right 16px center;
  }
}
